:root {
  /* almost black*/
  --text-color: #444;

  /* dark blue*/
  --main-color-dark: #00008b;

  /* blues */
  --main-color: #4444fa;
  --main-color-light: #7cbed4;
  --main-color-extra-light: #c4daec;

  /* blue background */
  --highlight-color: #3d679e;

  --page-background: #f0f0f0;

  /* earth blue */
  --earth-blue: #1b3772;

  /* ice walls */
  --ice-walls: #0699b3;
}
img picture image {
  width: 100%;
}

picture img {
  width: 100%;
}

header svg {
  stroke: #916247;
  width: 60px;
  height: 60px;
}

* {
  box-sizing: border-box;
}

/***** main classes  *****/

body {
  color: var(--text-color);
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  background-color: var(--page-background);
}

h1,
h2,
h3 {
  font-family: "Fira Sans", sans-serif;
  line-height: 1.2;
  margin: 2em 0 0.5em;
}

h1 {
  color: var(--main-color-dark);
  font-size: 4rem;
  font-weight: 900;
}

h2,
h3 {
  color: var(--main-color);
  font-weight: 700;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

p {
  margin: 0 0 1em;
}

main {
  margin: 0 auto;
  max-width: 50rem;
  padding: 0 1rem;
}

figure {
  margin: 4rem 0;
}

aside {
  background-color: var(--highlight-color);
  color: #fff;
  margin-top: 6rem;
  padding: 3rem 1rem;
}

aside h2 {
  color: #fff;
  margin: 0;
}

footer {
  background-color: #5a5959;
  clip-path: ellipse(78% 78% at 14% 83%);
  color: #fff;
  font-family: "Fira Sans", sans-serif;
  font-size: 2em;
  margin-top: 12rem;
  padding: 12rem 1rem 2rem;
}

footer p {
  width: 50%;
}

picture img {
  width: 100%;
}

a:link {
  color: var(--earth-blue);
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  color: var(--main-color);
}

a:hover {
  text-decoration: underline;
}

a:not([href]):hover {
  text-decoration: none;
}

a:active,
a:focus {
  background-color: var(--earth-blue);
  color: #fff;
}

/***** utility styles *****/

.button {
  background-color: var(--main-color);
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
  padding: 8px 15px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);

  /* this makes it so the user can select the text, which keeps the cursor from turning into a text selection cursor */
  user-select: none;
}

.button:hover {
  background-color: var(--main-color-light);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.button:active,
.button:focus {
  background-color: var(--main-color-extra-light);
  box-shadow: 0 0 0 2px var(--main-color-dark) inset;
  color: var(--main-color-dark);
}

/****** form styles  *****/
.form img {
  width: 400px;
}
